{namespace main}

/**
 * This is a quick demo-template, which will display a demo-page with only some demo-data...
 *
 */
{template .index}
	<html><body>
            <form method="post" action="/bin/1/submission" enctype="multipart/form-data">
		    <input type="file" name="file"/>
		    <input type="submit"/>
		    <input type="hidden" name="user" value="ap760"/>
		    <input type="hidden" name="filename" value="bla.pdf"/>
		</form>
	</body></html>
{/template}