<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app [
<!ENTITY frontend SYSTEM "frontend.xml">
]>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

    <context-param>
        <param-name>cssNamespace</param-name>
        <param-value></param-value>
    </context-param>

    <context-param>
        <param-name>cssFiles</param-name>
        <param-value>/css/pdf-selector.css</param-value>
    </context-param>
	<context-param>
		<param-name>dashboardUrl</param-name>
    <param-value>http://ott.cl.cam.ac.uk/dashboard</param-value>
	</context-param>
	<context-param>
		<param-name>excludeFromLogger</param-name>
		<param-value>/dashboard/api/notifications</param-value>
	</context-param>

    <!--
    <context-param>
        <param-name>dashboardUrl</param-name>
            <param-value>http://localhost:8080/dashboard</param-value>
    </context-param>
    -->
    <context-param>
        <param-name>apiKey</param-name>
        <param-value>4870v534lmomthfssb27ho4vjtidhujlmmssasuf</param-value>
    </context-param>
    <context-param>
        <param-name>jsFiles</param-name>
        <param-value>
                     /js/handins/l10n.js,
                     /js/vendor/pdf.js,
                     /js/handins/viewer.js,
                     /js/handins/models/marker.js,
                     /js/handins/models/bin.js,
                     /js/handins/models/questions.js,
                     /js/handins/models/access-permission.js,
                     /js/handins/views/edit-access-permission-view.js,
                     /js/handins/views/edit-bin.js,
                     /js/handins/views/edit-question-view.js,
                     /js/handins/views/general-add-view.js,
                     /js/handins/views/general-list-view.js,
                     /js/handins/views/marker-question.js,
                     /js/handins/views/marker-overlay.js,
                     /js/handins/views/marker-select-question.js,
                     /js/handins/views/pdf-selecting.js,
                     /js/handins/pdf-selector.js,
                     /js/handins/legacy-selector.js,
                     /js/handins/main.js,
                     /soy/js/1/handins.submission.js,
                     /soy/js/1/handins.bin.js,
                     /soy/js/1/handins.marking.js,
                     /soy/js/1/shared.handins.js,
                     /soy/js/1/shared.handins.generic.js
        </param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <context-param>
        <param-name>storageLocation</param-name>
        <param-value>/local/data/handins/</param-value>
    </context-param>

	<filter>
		<filter-name>Hibernate</filter-name>
		<filter-class>uk.ac.cam.sup.HibernateSessionRequestFilter</filter-class>
	</filter>


	<filter>
		<filter-name>Htmleasy</filter-name>
		<filter-class>com.googlecode.htmleasy.HtmleasyFilterDispatcher</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>uk.ac.cam.sup.MethodDemos</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>Hibernate</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Htmleasy</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

  &frontend;
</web-app>
